<hr />

<p>layout: post
title:
description:
image:</p>

<h2>  feature: beers.jpg</h2>

<p><img src="{{%20site.url%20}}/images/devbeerslogo-4096x3112.png" alt="devbeers logo" /></p>

<h3>Developers + Beers = Awesomesauce!</h3>

<p>devbeers is an <strong>awesome</strong> event for <strong>developers</strong> to <strong>drink beer</strong>, get some time away from the keyboard, and talk about your <strong>favorite language, IDE or API</strong>. Want to talk about Ruby, Python, Javascript, Node, Go, C#, PHP, Java, Objective-C, Scala? Come over, grab a beer, and start chatting!</p>

<p>Every month we&rsquo;ll be at a <strong>different venue and a different date</strong>, so be sure to keep your eyes out. Follow us on <a href="https://twitter.com/devbeers" target="_blank">Twitter</a>, like us on <a href="https://www.facebook.com/devbeers" target="_blank">Facebook</a> or sign up to our mailing list to keep up with the beers.</p>

<h3>devbeers in your city!</h3>

<p>Are you interested in starting a devbeers group in your city? <strong>Send us an <a href="mailto:contact@devbeers.io">email</a></strong> and let&rsquo;s chat over a Hangout beer!</p>

<p>If you&rsquo;d like to get notified about the next events, you can watch the devbeers website repository:</p>

<div style="text-align:center;">
<a href="https://github.com/devbeers/devbeers.github.io" class="github-button" data-icon="octicon-eye" data-count-href="/devbeers/devbeers.github.io/subscribers" data-style="mega">Watch</a>
</div>




<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>


<p><br>
Or subscribe to our mailing list:</p>

<p>{% include sendgrid-subscription-widget.html %}</p>

<h3>Features</h3>

<ul>
<li>Developers</li>
<li>Beers</li>
<li>Fun</li>
</ul>


<h3>Next Event</h3>

<ul>
<li><a href="cities/saopaulo.html">São Paulo</a></li>
<li><a href="cities/riodejaneiro.html">Rio de Janeiro</a></li>
<li><a href="cities/belohorizonte.html">Belo Horizonte</a></li>
</ul>


<h3>Global Sponsors</h3>

<p>{% include global-sponsors.html %}</p>

<h3>Local Sponsors</h3>

<p>Interested in sponsoring? We&rsquo;re always looking for global and local sponsors! Get in touch with us over <a href="mailto:contact@devbeers.io">here</a></p>

<h3>Creators</h3>

<p><img src="{{%20site.url%20}}/images/everton.jpg" alt="Éverton" />
<a href="https://twitter.com/nuxlli" target="_blank">Éverton Ribeiro</a> - Creator of azk, Co-founder of Azuki, programmer of all things.</p>

<p><img src="{{%20site.url%20}}/images/heitor.jpg" alt="Heitor" />
<a href="https://twitter.com/heitortsergent" target="_blank">Heitor Tashiro Sergent</a> - Mobile developer, Developer Evangelist at SendGrid, Co-founder of Invaders Game Studio, burger/ranch/cheesecake lover.</p>

<p><img src="{{%20site.url%20}}/images/cipriani.png" alt="Luis" />
<a href="https://twitter.com/lfcipriani" target="_blank">Luis Cipriani</a> - Computer Scientist, Developer Advocate @ Twitter, Silly Walker.</p>

<p><img src="{{%20site.url%20}}/images/thamara.jpg" alt="Thamara" />
<a href="https://twitter.com/thamarahessel" target="_blank">Thamara Hessel</a> - Developer and Project Manager at BGK, TDD and PHP lover.</p>
