/* ==========================================================================
   Imports
   ========================================================================== */

@import "normalize";
@import "mixins";
@import "variables";
@import "grid";
@import "type";
@import "styles";

// Remove the definition below for a pixel-based layout
$total-width: 100%;

.global-sponsors, .local-sponsors, .past-sponsors {
  text-align: center;
	.col-xs {
		margin: auto;
	}
}

img.global-sponsors {
	display: inline;
	margin: 60px 28px;
	max-width: 200px;
	max-height: 200px;
}

.local-sponsors, .past-sponsors {
	img {
		display: inline;
	  margin: 60px 28px; 
		max-width: 130px;
		max-height: 130px;
	}
}

header.site-header {
	background-color: #FFC107;
	position: relative;
	hgroup a, nav ul li a {
		color: #000 !important;
		&:hover {
			color: #FFF !important;
		}
	}
}

.article {
	.featured-image, .home.featured-image {
		display: table;
	}
	.home.featured-image {
		min-height: 500px;
	}
}

.post {
	max-width: 940px;
}

.header-content {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	img {
	  height: 180px;
	}
	h1 {
		color: white;
		font-family: "Montserrat","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
		font-weight: 600;
		margin-top: 20px;
	}
}

.home .header-content h1 {
	font-size: 48px;
}

.team-member {
	text-align: center;
  margin: 10px;
  a {
    width: 30px;
    display: block;
    margin: 0 auto;
  }
  p {
    margin-bottom: 0px;
  }
}

.social-icons {
  display: inherit;
  margin: 0 auto;
  a {
    margin: 0px 10px;
  }
}

@media only screen and (max-width : 680px) {     
  header.site-header {
    margin-top: 0;
    padding: 20px 0;
		a.menu {
			color: black;
		}
  }
}