<div class="sponsors">
<a href="http://sendgrid.com/" target="_blank"><img class="sponsor-logo" src="/images/sponsors/logo-sendgrid-stack.png" border="0" alt="SendGrid"></a>
<a href="http://twitter.com/" target="_blank"><img class="sponsor-logo" src="/images/sponsors/twitter_logo_blue.png" border="0" alt="Twitter"></a>
<a href="http://azk.io/" target="_blank"><img class="sponsor-logo" src="/images/sponsors/azk-1299x1299.png" border="0" alt="azk"></a>
<a href="https://developer.paypal.com/" target="_blank"><img class="sponsor-logo" src="/images/sponsors/BT-Logo-transparent-margin.png" border="0" alt="paypal"></a>
</div>