<div class="local-sponsors">
  <a href="http://www.99taxis.com/" target="_blank"><img class="local-sponsor-logo" src="/images/sponsors/local-sponsors/99taxis.png" border="0" alt="99Taxis"></a>
  <a href="http://twitter.com/" target="_blank"><img class="local-sponsor-logo" src="/images/sponsors/local-sponsors/twitter_logo_blue.png" border="0" alt="Twitter"></a>
  <a href="http://toptal.com/" target="_blank"><img class="local-sponsor-logo" src="/images/sponsors/local-sponsors/toptal-logo.png" border="0" alt="Toptal"></a>
  <a href="http://azk.io/" target="_blank"><img class="local-sponsor-logo" src="/images/sponsors/local-sponsors/azk-1299x1299.png" border="0" alt="azk"></a>
</div>
