<div class="row local-sponsors">
  <div class="col-xs">
    <a href="http://iugu.com/?utm_source=devbeers&utm_campaign=patrocinio" target="_blank"><img class="local-sponsor-logo" src="/images/sponsors/local-sponsors/iugu-logo.png" border="0" alt="Iugu"></a>
  </div>
  <div class="col-xs">
    <a href="http://sympla.com" target="_blank"><img class="local-sponsor-logo" src="/images/sponsors/local-sponsors/logo_sympla-600px.png" border="0" alt="Sympla"></a>
  </div>
  <div class="col-xs">
    <a href="http://toptal.com/" target="_blank"><img class="local-sponsor-logo" src="/images/sponsors/local-sponsors/toptal-logo.png" border="0" alt="Toptal"></a>
  </div>
  <div class="col-xs">
    <a href="https://www.hotmart.com/pt/" target="_blank"><img class="local-sponsor-logo" src="/images/sponsors/local-sponsors/hotmart.png" border="0" alt="Hotmart"></a>
  </div>
  <div class="col-xs">
    <a href="http://www.ciandt.com/br-pt" target="_blank"><img class="local-sponsor-logo" src="/images/sponsors/local-sponsors/ciandt-600x240.png" border="0" alt="CI&T"></a>
  </div>
</div>
