<a href="https://twitter.com/obetomuniz" target="_blank"><img class="organizer" src="/images/people/betomuniz.jpg"></a>
<a href="https://twitter.com/obetomuniz" target="_blank">Beto Muniz</a> - Front-End Engineer at HE:labs and A Web Components Hero.

<a href="https://twitter.com/brunopulis" target="_blank"><img class="team" src="/images/people/brunopulis.jpg"></a>
<a href="https://twitter.com/brunopulis" target="_blank">Bruno Pulis</a> - Frontend Developer and Accessibility Advocate.

<a href="https://twitter.com/paulahfaria" target="_blank"><img class="team" src="/images/people/paulafaria.jpg"></a>
<a href="https://twitter.com/paulahfaria" target="_blank">Paula Faria</a> - Frontend Developer at Plan B Comunicação.

<a href="https://twitter.com/_tiagoporto" target="_blank"><img class="team" src="/images/people/tiagoporto.png"></a>
<a href="https://twitter.com/_tiagoporto" target="_blank">Tiago Porto</a> - Front-End Developer, Beer Freak and Travel Buff.