<a href="https://twitter.com/nuxlli" target="_blank"><img class="organizer" src="/images/people/everton.jpg"></a>
<a href="https://twitter.com/nuxlli" target="_blank">Éverton Ribeiro</a> - Creator of azk, Co-founder of Azuki, programmer of all things.

<a href="https://twitter.com/thamarahessel" target="_blank"><img class="organizer" src="/images/people/thamara.jpg"></a>
<a href="https://twitter.com/thamarahessel" target="_blank">Thamara Hessel</a> - Developer and Project Manager at BGK, TDD and PHP lover.