<div class="row">
  <div class="col-xs">
    <div class="team-member">
      <img class="team-member-photo" src="/images/people/betomuniz.jpg">
      <p>Beto Muniz</p>
      <div class="row">
        <div class="social-icons">
          <a href="https://twitter.com/obetomuniz" target="_blank"><img src="/images/icons/iconmonstr-twitter-4.svg"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs">
    <div class="team-member">
      <img class="team-member-photo" src="/images/people/brunopulis.jpg">
      <p>Bruno Pulis</p>
      <div class="row">
        <div class="social-icons">
          <a href="https://twitter.com/brunopulis" target="_blank"><img src="/images/icons/iconmonstr-twitter-4.svg"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs">
    <div class="team-member">
      <img class="team-member-photo" src="/images/people/paulafaria.jpg">
      <p>Paula Faria</p>
      <div class="row">
        <div class="social-icons">
          <a href="https://twitter.com/paulahfaria" target="_blank"><img src="/images/icons/iconmonstr-twitter-4.svg"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs">
    <div class="team-member">
      <img class="team-member-photo" src="/images/people/tiagoporto.png">
      <p>Tiago Porto</p>
      <div class="row">
        <div class="social-icons">
          <a href="https://twitter.com/_tiagoporto" target="_blank"><img src="/images/icons/iconmonstr-twitter-4.svg"></a>
        </div>
      </div>
    </div>
  </div>
</div>