<div class="row">
  <div class="col-xs">
    <div class="team-member">
      <img class="team-member-photo" src="http://gravatar.com/avatar/eeb1ef7b3ac88503c8189fbecd369387?s=166
    ">
      <p>Paulo Diovani</p>
      <div class="row">
        <div class="social-icons">
          <a href="https://twitter.com/paulodiovani" target="_blank"><img src="/images/icons/iconmonstr-twitter-4.svg"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs">
    <div class="team-member">
      <img class="team-member-photo" src="http://gravatar.com/avatar/ff0bc07e0a3f1e511de24a6a2568249a?s=166
    ">
      <p>Vinícius Palma</p>
      <div class="row">
        <div class="social-icons">
          <a href="https://twitter.com/_viniciuspalma_" target="_blank"><img src="/images/icons/iconmonstr-twitter-4.svg"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs">
    <div class="team-member">
      <img class="team-member-photo" src="http://gravatar.com/avatar/5c89227440f065637eb1bf9371f7544c?s=166
    ">
      <p>Bruno Konrad</p>
      <div class="row">
        <div class="social-icons">
          <a href="https://twitter.com/brunoskonrad" target="_blank"><img src="/images/icons/iconmonstr-twitter-4.svg"></a>
        </div>
      </div>
    </div>
  </div>
</div>
