<div class="row">
  <div class="col-xs">
    <div class="team-member">
      <img class="photo" src="/images/people/vagner.jpg">
      <p>Vagner Souza</p>
      <div class="row">
        <div class="social-icons">
          <a href="https://twitter.com/v_souza79" target="_blank"><img src="/images/icons/iconmonstr-twitter-4.svg"></a>
		   <a href="https://linkedin.com/in/vagner-souza-a1973919" target="_blank"><img src="/images/icons/iconmonstr-linkedin-4.svg"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs">
    <div class="team-member">
      <img class="photo" src="/images/people/angelica.jpg">
      <p>Angélica Canuto</p>
      <div class="row">
        <div class="social-icons">
          <a href="https://br.linkedin.com/in/angélica-canuto-b2a18570" target="_blank"><img src="/images/icons/iconmonstr-linkedin-4.svg"></a>
        </div>
      </div>
    </div>
  </div>
</div>