<div class="row">
  <div class="col-xs">
    <div class="team-member">
      <img class="photo" src="/images/people/vinicius.png">
      <p>Vinicius Carvalho</p>
      <div class="row">
        <div class="social-icons">
          <a href="https://twitter.com/viniciusc70" target="_blank"><img src="/images/icons/iconmonstr-twitter-4.svg"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs">
    <div class="team-member">
      <img class="photo" src="/images/people/felipemota.jpg">
      <p>Felipe Mota</p>
    </div>
  </div>
  <div class="col-xs">
    <div class="team-member">
      <img class="photo" src="/images/people/filipecosta.jpg">
      <p>Filipe Costa</p>
      <div class="row">
        <div class="social-icons">
          <a href="https://twitter.com/filipebarcos" target="_blank"><img src="/images/icons/iconmonstr-twitter-4.svg"></a>
        </div>
      </div>
    </div>
  </div>
</div>