<a href="https://twitter.com/viniciusc70" target="_blank"><img class="organizer" src="/images/people/vinicius.jpg"></a>
<a href="https://twitter.com/viniciusc70" target="_blank">Vinicius Carvalho</a> - Mobile developer, Co-Organizer of CocoaHeads Brasil/Fortaleza, UX and biker.

<a href="https://twitter.com/" target="_blank"><img class="organizer" src="/images/people/felipemota.jpg"></a>
<a href="https://twitter.com/" target="_blank">Felipe Mota</a> - Mobile developer

<a href="https://twitter.com/filipebarcos" target="_blank"><img class="organizer" src="/images/people/filipecosta.jpg"></a>
<a href="https://twitter.com/filipebarcos" target="_blank">Filipe Costa</a> - Software Engineer at @ride. Co-organizer of @guruce