<div class="row">
  <div class="col-xs">
    <div class="team-member">
      <img class="photo" src="/images/people/everton.jpg">
      <p>Éverton Ribeiro</p>
      <div class="row">
        <div class="social-icons">
          <a href="https://twitter.com/nuxlli" target="_blank"><img src="/images/icons/iconmonstr-twitter-4.svg"></a>
          <a href="https://github.com/nuxlli" target="_blank"><img src="/images/icons/iconmonstr-github-1.svg"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs">
    <div class="team-member">
      <img class="team-member-photo" src="/images/people/thamara.jpg">
      <p>Thamara Hessel</p>
      <div class="row">
        <div class="social-icons">
          <a href="https://twitter.com/thamarahessel" target="_blank"><img src="/images/icons/iconmonstr-twitter-4.svg"></a>
        </div>
      </div>
    </div>
  </div>
</div>