<div class="row">
  <div class="col-xs">
    <div class="team-member">
      <img class="team-member-photo" src="/images/people/antoniel.jpg">
      <p>Antoniel Cardoso</p>
      <div class="row">
        <div class="social-icons">
          <a href="https://twitter.com/antonielcm" target="_blank"><img src="/images/icons/iconmonstr-twitter-4.svg"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs">
    <div class="team-member">
      <img class="team-member-photo" src="/images/people/sandim.jpg">
      <p>Augusto Sandim</p>
      <div class="row">
        <div class="social-icons">
          <a href="https://twitter.com/augustosandim" target="_blank"><img src="/images/icons/iconmonstr-twitter-4.svg"></a>
        </div>
      </div>
    </div>
  </div>
</div>