<div class="past-sponsors">
  <a href="http://www.99taxis.com/" target="_blank"><img class="past-sponsor-logo" src="/images/sponsors/local-sponsors/99taxis.png" border="0" alt="99Taxis"></a>
  <a href="https://developer.paypal.com/" target="_blank"><img class="past-sponsor-logo" src="/images/sponsors/past-sponsors/BT-Logo-transparent-margin.png" border="0" alt="PayPal Braintree"></a>
  <a href="http://pivotal.io/" target="_blank"><img class="past-sponsor-logo" src="/images/sponsors/past-sponsors/Pivotal_TealOnWhite_RGB-transparent.png" border="0" alt="Pivotal"></a>
  <a href="http://www.hotelurbano.com/" target="_blank"><img class="past-sponsor-logo" src="/images/sponsors/past-sponsors/hu-logo.png" border="0" alt="Hotel Urbano"></a>
  <a href="http://abacomm.com.br/" target="_blank"><img class="past-sponsor-logo" src="/images/sponsors/past-sponsors/abacomm-logo.png" border="0" alt="Abacomm"></a>
</div>
