<a href="https://twitter.com/nuxlli" target="_blank"><img class="team" src="/images/people/everton.jpg"></a>
<a href="https://twitter.com/nuxlli" target="_blank">Éverton Ribeiro</a> - Creator of azk, Co-founder of Azuki, programmer of all things.

<a href="https://twitter.com/heitortsergent" target="_blank"><img class="team" src="/images/people/heitor.jpg"></a>
<a href="https://twitter.com/heitortsergent" target="_blank">Heitor Tashiro Sergent</a> - Mobile developer, Developer Evangelist at SendGrid, Co-founder of Invaders Game Studio, burger/ranch/cheesecake lover.

<a href="https://twitter.com/lfcipriani" target="_blank"><img class="team" src="/images/people/cipriani.png"></a>
<a href="https://twitter.com/lfcipriani" target="_blank">Luis Cipriani</a> - Computer Scientist, Developer Advocate @ Twitter, Silly Walker.

<a href="https://twitter.com/thamarahessel" target="_blank"><img class="team" src="/images/people/thamara.jpg"></a>
<a href="https://twitter.com/thamarahessel" target="_blank">Thamara Hessel</a> - Developer at EasyTaxi and PHP lover.